/* Conteneur des cartes */
.cards-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: space-between;
    flex-wrap: nowrap;
    padding: 20px;
  }
  
  /* Style cards */
  .card {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 300px;
    text-align: center; 
    display: flex;
    flex-direction: column; 
  }
  
  /* Image cards*/
  .card-image img {
    object-fit: contain;
    width: 100%;
    height: 100%;
    border-radius: 40px; /* Bords arrondis */
  }
  

  .card-content {
    padding: 15px;
        
  }

  .card-content h3 {
    font-size: 18px;
    margin: 10px 0;
    color: #ff4500;
  }
  
  
  .card-content h4 {
    font-size: 18px;
    margin: 10px 0;
    color: #ae511c;
  }
  
  .card-content p {
    font-size: 14px;
    color: #666;
    margin: 5px 0;
  }
  
  /*bouton reservation */
  .card-button {
    display: inline-block ;
    padding: 10px 20px;
    background-color: #ff4500;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
}
.card-button:hover {
    background-color: #ae511c;
}
  
  
  @media (max-width: 768px) {
    .cards-container {
      flex-direction: column;
      align-items: center;
    }
  
    .card {
      width: 100%;
      max-width: 400px;
    }
  }
  

  /*content container 2*/
.content-container2 {
  display: flex; 
  justify-content: space-around; 
  align-items: center; 
  padding: 30px;
  gap: 20px;
  flex-wrap: wrap; 
}

/* Video Styling */
.content-container2 img {
  height: auto;
  width: 50%; 
  max-width: 500px; 
  border: 5px solid black;
  border-radius: 10px; 
}

/* Text Styling */
.text-container2 {
  max-width: 500px; 
  text-align: center; 
  
}

.text-container2 h2 {
  font-size: 1.8em;
  color: #ff4500;
  margin-bottom: 10px;
  font-family: 'Papyrus', cursive;
}

.text-container p {
  padding: 30px;
  font-size: 1.1em;
  line-height: 1.5;
}


hr {
  border: none;
  border-bottom: 1px solid #ae511c; /*sur https://openclassrooms.com/forum/sujet/utilisation-de-la-balise-hr*/
padding-top: 5%;

}