@charset "utf-8";
* {
  box-sizing: border-box;
  text-decoration: none;
  color: white;
  background-color: black;
  padding: 0;
  margin: 0;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center; /*aligner titre et logo*/
}

.LogoSite {
  width: 15rem; 
  height: auto;
  margin-right: 10px; /* Espace entre le logo et titre */
}

.title {
  color: #ff4500;
  font-family: 'Papyrus', cursive;
  font-size: 50px; 
  margin: 0; 

}

#slogan {
  text-align: center;
  font-size: 230%;
  font-family: 'Brush Script MT', cursive;
}

body {
  margin: 0;
  font-family: 'Times New Roman', Times, serif;
  background: #1a1a1a; 
  color: #f4f4f4; 
}

#about {
  padding: 20px;
}

#about h2{
  margin: 15px;
  border-color: #1a1a1a;
  color: #ff4500;
  text-align: center;
  font-family: 'Papyrus', cursive;
}





/*NAVIGATION*/

nav {
  background-color: black;
  padding: 0 20px;
  border-radius: 40px;
  box-shadow: 0 5px 10px rgba(206, 103, 39, 0.8);
  display: flex;
  overflow: hidden;
  overflow-x: auto;
  position: relative;
  justify-content: center;
}

.nav-item {
  color: #ff4500;
  font-family: 'Times New Roman', Times, serif;
  padding: 20px;
  margin: 0 6px;
  position: relative;
}

.nav-item:before {
  content: "";
  position: absolute;
  bottom: -6px;
  background-color: #ff4500;
  height: 5px;
  width: 100%;
  border-radius: 8px 8px 0 0;
  left: 0;
  transition: .3s;
}


.nav-item:not(.is-active):hover:before {
  bottom: 0;
}
.nav-item:not(.is-active):hover {
  color: #333;
}


.nav-indicator {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 5px;
  transition: .4s;
  border-radius: 8px 8px 0 0;
}
/*FIN NAVIGATION*/





/*FOOTER*/

footer {
  background-color: black ;
  padding: 20px;
}

footer p, footer a {
  color: #ff4500;
  text-align: right;  
}

#rights {
  text-align: center;
}


